stress-test-better
test
reader
rawdict
bwregress
en
extraSrc
link-grammar
private
LOGS
TMP/*.txt
USERS
VS2010/Debug
VS2010/ipch

XCODE7/MacChatScript.xcodeproj/xcuserdata/
XCODE7/MacChatScript.xcodeproj/project.xcworkspace/xcuserdata/